/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.nav {
    display: flex;
    align-items: center;
    background-color: navy; /* same color as faculty page */
    padding: 10px 20px;
    flex-wrap: wrap;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo img {
    border-radius: 5px;
}

.logo h2 {
    color: white;
    font-size: 18px;
    margin-left: 10px;
}

/* NAV LINKS */
.nav a {
    color: white;
    text-decoration: none;
    marg
